
.floating-action {
    background: none;
    border: none;
    position: fixed;
    z-index: 2;
    bottom: 70px;
    right: 20px;
}

/* Estilo de la barra de acciones */
.barra-acciones {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--content-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Estilos de los botones de acción */
.btn-accion {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 12px;
    gap: 4px;
}

.btn-accion i {
    margin-right: 5px;
}

cw-home-icon, cw-search-icon {
    height: 22px;
    width: 22px;
}

.hidden {
    display: none;
}

.card {
    padding: 0.5rem;
    outline-offset: 4px;
    outline: var(--card-outline);
    border-radius: 5px;
    background: var(--card-bg);
    color: var(--card-fc);
}

.card[form] {
    bottom: 80px;
    position: absolute;

    width: -webkit-fill-available;
    height: calc(100% - 80px);
    left: 0;
    transition: all 0.2s ease-out;

}

.collapse {
    height: 0 !important;
    padding: 0;
    overflow: hidden;
}
